{% extends 'base_front.html.twig' %}

{% block title %}DTC | Edit Student{% endblock %}

{% block body %}
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<h2>{{ app.user.username }}</h2>
			</div>
		</section><!-- End Breadcrumbs -->
		<section id="counts" class="counts">
			<div class="container" data-item="fade-up">
				{{ form_start(form) }}
				<div class="row gy-4 d-flex">
					<div class="col-lg-4 col-md-6" data-item="fade-up" data-item-delay="200">
						{{ form_row(form.firstname) }}
						{{ form_row(form.lastname) }}
						{{ form_row(form.username) }}
					</div>
					<div class="col-lg-4 col-md-6" data-item="fade-up" data-item-delay="200">
						{{ form_row(form.password) }}
						{{ form_row(form.image) }}
					</div>
				</div>
				{{ form_row(form._token) }}
				<button type="submit" class="btn btn-sm btn-primary text-center m-auto mt-2" style="min-width: 150px;">Save</button>
				{{ form_end(form, {'render_rest': false}) }}
			</div>
		</section>
	</main>
{% endblock %}
