{% extends 'base_front.html.twig' %}

{% block title %}DTC | Etudiant {% endblock %}

{% block body %}

<main id="main">
	<!-- ======= Breadcrumbs ======= -->
	<section class="breadcrumbs">
		<div class="container">
			<h2>{{ app.user.username }}</h2>
		</div>
	</section><!-- End Breadcrumbs -->
	<section id="counts" class="counts">
		<div class="container" data-item="fade-up">
			<div class="row gy-4 d-flex justify-content-between">
				<div class="col-lg-3 col-md-6">
					<a href="{{ path('dtc_student_edit') }}" class="count-box">
						{% if app.user.image is null %}
								<i class="bi bi-person"></i>
							{% else %}
								<img class="" height="50" width="50" style="border-radius: 50%" src="{{ asset('img/pictures/'~app.user.image) }}" alt="">
						{% endif %}
						<div>
							<span><i class="bi bi-pencil"></i></span>
							<p>Mon profile</p>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="{{ path('dtc_student_my_formation') }}" class="count-box">
						<i class="bi bi-list-check"></i>
						<div>
							<span data-purecounter-start="0" data-purecounter-end="{{ formations|length }}" data-purecounter-duration="1" class="purecounter"></span>
							<p>Mes formations</p>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="#" class="count-box">
						<i class="bi bi-wallet" style="color: #ee6c20;"></i>
						<div>
							<span data-purecounter-start="0" data-purecounter-end="{{ paiements|length }}" data-purecounter-duration="1" class="purecounter"></span>
							<p>Paiements</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section><!-- End Counts Section -->
	<section>
		<div class="row gy-4">
			<div class="col-lg-4 col-md-6 m-auto" data-item="fade-up" data-item-delay="200">
				<div class="service-box blue">
					<div class="w-100">
						{% if app.user.image %}
							<img src="{{ asset('img/pictures/'~app.user.image) }}" width="50" height="50" style="border-radius: 50%; margin: auto;display:block" alt="">
						{% else %}
							<img src="{{ asset('img/Logo/DTC-Logo-Orange.png') }}" width="50" height="50" style="border-radius: 50%; margin: auto;display:block" alt="">
						{% endif %}
					</div>
					<h3>{{ app.user.username }}</h3>
					<p>{{ app.user.firstname }}</p>
					{% if app.user.contacts is not empty %}
						{% for contact in app.user.contacts %}
							<ul>
								<li> Téléphone : {{ contact.phone }}</li>
								<li> Mail : {{ app.user.username }}</li>
								<li> Facebook : {{ contact.facebook }}</li>
								<li> LinkedIn : {{ contact.linkedIn }}</li>
							</ul>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
