{% extends 'base_front.html.twig' %}

{% block title %}DTC | Edit Student{% endblock %}

{% block body %}
	<section id="team" class="team section my-5">
		<div class="container" data-item="fade-upp">
			<div class="col-md-6 m-auto">
				<h3>Paiement frais de formation</h3>
				<p class="mb-3" style="color:#E57B23">*Chez DTC, tous les paiements se font uniquement par mobile money !</p>
				<ul>
					<li>
						Formations : {{ formation.formation.name }}
					</li>
					<li>
						Frais Total : {{ formation.formation.amount }}
					</li>
					<li>
						Frais payé : {{ formation.paidAmount }} Ar.
					</li>
					<li>
						Reste à payer : {{ formation.formation.amount - formation.paidAmount }} Ar.
					</li>
				</ul>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<div class="form-group">
					<button type="submit" class="btn btn-sm save-profil btn-primary text-center m-auto mt-2 form-control">Enregistrer</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
