{% extends 'base_admin.html.twig' %}

{% block title %}DTC | Connexion {% endblock %}

{% block body %}
    <body>
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Digital Training Center</h1>
                                        </div>
                                        <form class="user" method="post">

                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}

                                            {% if app.user %}
                                                <div class="mb-3">
                                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('dtc_logout') }}">Logout</a>
                                                </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <input
                                                        type="text" value="{{ last_username }}" name="username"
                                                        id="inputUsername" class="form-control form-control-user" autocomplete="username" required autofocus
                                                       placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" id="inputPassword"
                                                       class="form-control form-control-user"
                                                       autocomplete="current-password" required
                                                       placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">
                                                        Remember Me
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="text" class="custom-control-input d-none"  name="_csrf_token" value="{{ csrf_token('authenticate') }}" id="customCheck">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Connexion
                                            </button>
                                            <hr>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="{{ path('dtc_home_page') }}">Forgot Password?</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="{{ path('dtc_register') }}">Create an Account!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
