{% extends 'admin/_entry_admin.html.twig' %}
{% block content %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<div class="d-flex align-items-center justify-content-between">
			<h2>Inscriptions formations {{ formation.name }}</h2>
		</div>
		<div class="container-fluid">
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Liste des inscrits</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
							<tr>
								<th>Formation</th>
								<th>Nom</th>
								<th>Mail</th>
								<th>Contact</th>
								<th>Date d'inscription</th>
								<th>Confirmé</th>
								<th>Frais payé</th>
								<th>Action</th>
								<th>Cértificat</th>
							</tr>
							</thead>
							<tbody>
							{% for studentCohorte in lists %}
								<tr>
									<td>{{ studentCohorte.formation.name }}</td>
									<td>{{ studentCohorte.user.firstname ~ ' ' ~ studentCohorte.user.lastname }}</td>
									<td>{{ studentCohorte.user.username }}</td>
									<td>{{ studentCohorte.user.getPhone() }}</td>
									<td>{{ studentCohorte.createdAt|date('d-m-Y') }}</td>
									<td>
										<a class="badge badge-{{ studentCohorte.confirmed ? 'success' : 'warning' }}" href="{{ path('admin_formation_switch_student_formation', {'id': studentCohorte.id}) }}">{{ studentCohorte.confirmed ? 'OUI' : 'NON' }}</a>
									</td>
									<td>{{ studentCohorte.isTotalPaid ? 'OUI' : 'NON' }}</td>
									<td>
										<a class="btn btn-sm btn-danger" href="{{ path('admin_formation_remove_affectation', {'id': studentCohorte.id}) }}">Supprimer</a>
									</td>
									<td>
										{% if studentCohorte.certificate is null %}
											<a class="btn btn-sm btn-success" href="{{ path('dtc_certificat_generate', {'id': studentCohorte.id}) }}">Cértification</a>
										{% else %}
											<a class="btn btn-sm btn-success" href="{{ path('dtc_certificat_revoque', {'id': studentCohorte.id}) }}">Révoquer le certificat</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
{% endblock %}