<header id="header" class="header d-flex align-items-center fixed-top">
	{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="container-fluid container-xl position-relative d-flex align-items-center">
			<a href="{{ path('dtc_home_page') }}" class="logo d-flex align-items-center me-auto">
				<img src="{{ asset('img/Logo/DTC-Logo-Blanc-Tranceparent.png') }}" alt="">
				<h1 class="sitename">DTC.MG</h1>
			</a>
			<nav id="navmenu" class="navmenu">
				<ul>
					<li><a href="#hero">Bienvenue</a></li>
					<li><a href="#services">Nos catalogues</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="{{ path('dtc_login') }}">Se connecter <i class="bi bi-arrow-right"></i></a></li>
				</ul>
			</nav>
			<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
		</div>
	{% endif %}

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="container-fluid d-flex justify-content-between mx-3">
			<div class="container-left">
				<a href="{{ path('dtc_home_page') }}" class="logo d-flex align-items-center me-auto">
					<img src="{{ asset('img/Logo/DTC-Logo-Blanc-Tranceparent.png') }}" alt="">
					<h1 class="sitename">DTC.MG</h1>
				</a>
			</div>
			<div class="content-right">
				{% if app.user.image is not empty %}
					<img src="{{ asset('img/pictures/'~app.user.image) }}" class="img-profile-circle" width="30" height="30" alt="">
				{% else %}
					<img src="{{ asset('img/Favicon/DTC-Favicon.png') }}" class="img-profile-circle" width="30" height="30" alt="">
				{% endif %}
				<a href="{{ path('dtc_student_edit') }}" class="user-info">
					{{ app.user.username }}
				</a>
			</div>
			<div class="d-lg-none">
				<a href="{{ path('dtc_logout') }}">Deconnexion <i class="bi bi-arrow-right"></i></a>
			</div>
		</div>
	{% endif %}
</header>