<header id="header" class="header fixed-top">
	<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
		<a href="{{ path('dtc_home_page') }}" class="logo d-flex align-items-center">
			<img src="{{ asset('img/Logo/DTC-Logo-Blanc-Tranceparent.png') }}" alt=""> <span>DTC</span> </a>
		<nav id="navbar" class="navbar">
			<ul>
				{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
					<li><a class="nav-link scrollto active" href="#hero">Bienvenue</a></li>
					<li><a class="nav-link scrollto" href="#services">Nos catalogues</a></li>
					<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
				{% endif %}
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li>
						<a class="nav-link scrollto" href="#services">Liste des formations</a>
					</li>
					<li class="dropdown">
						<a href="#" class="user-info">{{ app.user.username}}</a>
						<ul>
							<li>
								<a href="{{ path('dtc_student_profile') }}"><i class="bi bi-person" style="color: #bb0852;"></i>Mon profil</a>
							</li>
							<li>
								<a href="{{ path('dtc_logout') }}"><i class="bi bi-arrow-right"></i>Déconnexion</a>
							</li>
						</ul>
					</li>
				{% endif %}
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->
	</div>
</header>