<main id="main">
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-item="fade-up">
            <div class="row gy-4 d-flex justify-content-between">
                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-people" style="color:#173c9c!important;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="{{ students|length }}" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Etudiants</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext" style="color: #e67b24;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="{{ formations|length }}" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Formations</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-person-badge" style="color: #15be56;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Formateurs</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-item="fade-up">

            <header class="section-header">
                <p>Liste de nos formations</p>
            </header>

            <div class="row gy-4">
                {% for formation in formations %}
                    <div class="col-lg-4 col-md-6" data-item="fade-up" data-item-delay="200">
                        <div class="service-box blue">
                            <img src="{{ asset('img/Logo/DTC-Logo-Orange.png') }}" class="w-100 h-auto" alt="">
                            <h3>{{ formation.name }}</h3>
                            <p>{{ formation.description|slice(0, 90)~' ...' }}</p>
                            <a href="{{ path('register_cohorte', {id: formation.id}) }}" class="btn btn-warning"><span>Je m'inscris</span> <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

        <div class="container" data-item="fade-up">
            <header class="section-header">
                <p>Ce qu'ils disent de nous</p>
            </header>

            <div class="testimonials-slider swiper" data-item="fade-up" data-item-delay="200">
                <div class="swiper-wrapper">
                    {% for review in reviews %}
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    {% for star in range(1, review.note) %}
                                        <i class="bi bi-star-fill"></i>
                                    {% endfor %}
                                </div>
                                <p>
                                    {{ review.review }}
                                </p>
                                <div class="profile mt-auto">
                                    <img src="{{ asset('img/avatar.png') }}" class="testimonial-img" alt="">
                                    {% if review.user is null or 'ROLE_ADMIN' in review.user.roles %}
                                        <h3>Anonymous</h3>
                                    {% else %}
                                            <h3>{{ review.user.username }}</h3>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section><!-- End Testimonials Section -->
    <!-- ======= Clients Section ======= -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-item="fade-up">
            <header class="section-header">
                <p>Contactez-nous</p>
            </header>

            <div class="row gy-4">
                <div class="col-lg-12">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Adresse</h3>
                                <p>Antananarivo,<br>101, Madagascar</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-telephone"></i>
                                <h3>Téléphone</h3>
                                <p>+261 38 44 569 90</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-envelope"></i>
                                <h3>Mail</h3>
                                <a href="mailto:digitaltrainingcenter.mg@gmail.com">digitaltrainingcenter.mg@gmail.com</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-clock"></i>
                                <h3>Heure d'ouverture</h3>
                                <p>Samedi 08H - 17H</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->