{% extends 'base_front.html.twig' %}

{% block title %}Home|DTC-MG{% endblock %}
{% block body %}
	{{ include('dtc_home_page/_header.html.twig') }}
	<main class="main">
		{{ include('dtc_home_page/template/_hero_section.html.twig') }}
		{{ include('dtc_home_page/template/_counter_section.html.twig') }}
		{{ include('dtc_home_page/template/_formation_section.html.twig') }}
		{{ include('dtc_home_page/template/_avis_section.html.twig') }}
		{{ include('dtc_home_page/template/_trainers_section.html.twig') }}
		{{ include('dtc_home_page/template/_contact_section.html.twig') }}
		{{ include('dtc_home_page/_footer.html.twig') }}
		<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
	</main>
{% endblock %}
