{% extends 'base_front.html.twig' %}

{% block title %}Home|DTC-MG{% endblock %}
{% block body %}
    {{ include('dtc_home_page/_header.html.twig') }}
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-item="fade-up">Votre passerelle vers l'excellence numérique</h1>
                    <h2 data-item="fade-up" data-item-delay="400">Des modules de formation qui vous permettant d'acquérir les compétences essentielles pour réussir dans le monde du Digital. </h2>
                    <div data-item="fade-up" data-item-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="{{ path('dtc_register') }}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Rejoignez-nous</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-item="zoom-out" data-item-delay="200">
                    <img src="{{ asset('img/dtc-mg.png') }}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section><!-- End Hero -->
    {{ include('dtc_home_page/_main_content.html.twig') }}
    {{ include('dtc_home_page/_footer.html.twig') }}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
