{% extends 'admin/_entry_admin.html.twig' %}
{% block content %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<div class="d-flex align-items-center justify-content-between">
			<h2>Formations</h2>
		</div>
		<div class="container-fluid">
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Liste des transactions ({{ pagination.getTotalItemCount }})</h6>
					<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search p-3">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small" name="search"
								   placeholder="Recherche" aria-label="Search" aria-describedby="basic-addon2"
								   value="{{ search|default('') }}">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="card-body">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th{% if pagination.isSorted(['t.createdAt']) %} class="sorted"{% endif %}>
									{{ knp_pagination_sortable(pagination, 'Date d\'inscription', ['t.createdAt']) }}
								</th>
								<th>Utilisateur</th>
								<th>Téléphone</th>
								<th>Formation</th>
								<th>Reste à payer</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
						{% for studentFormation in pagination %}
							<tr>
								<td>{{ studentFormation.createdAt | date('Y-m-d H:i:s') }}</td>
								<td>{{ studentFormation.user.username }}</td>
								<td>{{ studentFormation.user.getPhone() }}</td>
								<td>{{ studentFormation.formation.name }}</td>
								<td>{{ studentFormation.getToBePaid() }}</td>
								<td>
									<a href="{{ path('admin_transaction_generate', {'id': studentFormation.id}) }}">
										Generer un paiement
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5" class="text-center">Aucun résultats</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div class="navigation">
						{{ knp_pagination_render(pagination) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
{% endblock %}