{% extends 'admin/_entry_admin.html.twig' %}
{% block content %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<div class="d-flex align-items-center justify-content-between">
			<h2>Formations</h2>
		</div>
		<div class="container-fluid">
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Liste des transactions ({{ pagination.getTotalItemCount }})</h6>
				</div>
				<div class="card-body">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th{% if pagination.isSorted(['t.createdAt']) %} class="sorted"{% endif %}>
									{{ knp_pagination_sortable(pagination, 'Date de transaction', ['t.createdAt']) }}
								</th>
								<th>Utilisateur</th>
								<th>Formation</th>
								<th>Reste à payer</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
						{% for studentFormation in pagination %}
							<tr>
								<td>{{ studentFormation.createdAt | date('Y-m-d H:i:s') }}</td>
								<td>{{ studentFormation.user.username }}</td>
								<td>{{ studentFormation.formation.name }}</td>
								<td>{{ studentFormation.getToBePaid() }}</td>
								<td>
									<a href="{{ path('admin_transaction_generate', {'id': studentFormation.id}) }}">
										Generer un paiement
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5" class="text-center">Aucun résultats</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div class="navigation">
						{{ knp_pagination_render(pagination) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
{% endblock %}