<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('dtc_home_page') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="{{ asset('img/Logo/DTC-Logo.png') }}" width="50" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">DTC</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("admin_dashboard_index") }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_user_list') }}">
            <span>Liste utilisateurs</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_trainer_list') }}">
            <span>Formateurs</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ path("admin_formation_list") }}">
            <span>Formations</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ path("admin_review_list") }}">
            <span>Avis</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_transaction_list') }}">
            <span>Paiement</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_transaction_unpaid') }}">
            <span>Non payés</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_site_contact_list') }}">
            <span>Message site</span>
            <span class="text-danger">{{ getMessageNotSeenCount() }}</span>
        </a>
    </li>
</ul>
<!-- End of Sidebar -->